/* show.blade.php */
.okr{
    color:white;
  }
  .okr_set{
    position: relative;
    margin: 28px auto;
    padding: 4px;
    width: 200px;
    text-align: center;
    font-size: 16px;
  }
  .okr_set > a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .okr_set:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.24),0 4px 8px rgba(0, 0, 0, 0.48);
  }
  .section_wrap{
    display:flex;
  }
  .title{
    color:black;
    font-size:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px;
  }
  .content{
    padding:8px;
    margin-bottom: 8px;
    min-height: 36px;
  }
  .top_content{
    background-color: rgb(220, 80, 80);
  }
  .second_content{
    background-color: rgb(220, 130, 80);
  }
  .third_content{
    background-color: rgb(220, 180, 50);
  }
  .other_than_border_right{
    height:150px;
    width:150px;
    border:solid silver;
    border-width:3px 0 3px 3px;
    margin:36px;
  }
  .top_objective{
    width:100%;
  }
  
  .flex{
    font-size: 0;
    width:100%;
    display: flex;
    justify-content: space-between;
  }
  
  /* header.blade.php */
  header{
    background-color: #eee;
    height:60px;
    display:block;
    border-bottom:solid 5px orange !important;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  }
  .h-index{
    float:left;
  }
  .menu{
    font-size:20px;
    font-weight:bold;
    line-height:60px;
  }
  .menu a{
    margin:0 16px;
  }
  .dropdown-menu-right{
    float:right;
  }
  
  /* 追加画面--add.blade.php--add_child.blade.php */
  .add_wrap{
    display: flex;
    margin:20px 10%;
  }
  .add_wrap input[type="text"]{
    border:solid 0px;
    border-bottom:solid 1px;
    width:500px;
    height:60px;
    font-size: 120%;
  }
  .add_wrap input:focus{
    outline:0;
  }
  .add_example{
    margin:40px 0 0 0;
  }
  .add_example h1{
    font-weight: bold;
    margin:28px 0 0 0;
  }
  article.add_example p{
    margin:0;
  }
  .exist_okr{
    margin-bottom:100px;
    padding:12px;
  }
  .exist_okr > p:first-child{
    margin:0 0 12px 0;
  }
  .add_infomation{
    padding:12px;
  }
  .exist_okr h2,
  .add_infomation h2{
    font-weight: bold;
    font-size: 24px;
  }
  .exist_okr > p{
    font-size:24px;
  }
  .exist_okr_infomation{
    margin-bottom:28px;
  }
  .add_infomation p{
    color:red;
  }
  .add_okr_contents{
    margin:60px 0 0 0;
  }
  .wrap_index{
      display: flex;
  }
  .okr_document{
      margin:0 0 0 10%;
  }
  .okr_document p{
    margin:12px;
  }
  .okr_document span{
    font-weight: bold;
  }
  
  /* index.blade.php */
.wrap_index_okr{
    
}
  .wrap_index{
    margin:30px 5%;
  }
  .index_okr h2{
    margin:0 0 40px 0;
    font-weight:bold;
    font-size:32px;
    text-align: center;
  }
  .index_okr p{
    font-size:20px;
  }
  .index_list{
    margin:40px auto;
    padding:4px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12),0 4px 8px rgba(0, 0, 0, 0.24);
    text-align: center;
    width: 400px;
  }
  .index_list:hover{
    box-shadow: 0 4px 6px rgba(220, 130, 80),0 2px 4px rgba(220, 230, 80);
  }
  .text_align_center{
    text-align: center;
  }
  .margin_bottom{
    margin-bottom: 20px;
  }
  .button{
    padding:12px;
    color: #FFF;
    border-radius: 3px;
    line-height: 20px;
  }
  .button:hover{
    font-size: 24px;
    font-weight: bold;
  }
  .add_button,
  .add_index_button{
    background: linear-gradient(#50b4ff,#5064ff);
  }
  .edit_button{
    background:linear-gradient(#50a0ff,#503cff);
  }
  .add_okr_btn{
    margin-top :60px;
    font-size: 20px;
  }
  .add_okr_son{
    font-size:18px;
  }
  .delete_button{
    box-sizing: border-box;
    font-size:18px;
    background:linear-gradient(#4355d2,#435564);
    outline: none;
    border-style:none;
    line-height: 20px;
  }
  a.okr_a{
    color:white;
  }
  
  /* showページ */
  @media screen and (max-width: 767px){
    .okr_set{
        width:130px;
        font-size: 12px;
    }
    .delete_button,
    .edit_button,
    .add_button{
        font-size: 12px;
    }
    .button{
        padding:4px;
    }
    .button:hover{
        font-size: 12px;
    }
    .add_index_button:hover{
        font-size: 20px;
        padding:8px;

    }
    .content{
        padding:8px 0px;
        min-height: 36px;
    }
  }
  @media screen and (max-width: 959px) {
    .title{
        display: none;
    }
    .other_than_border_right{
        display: none;
    }
  }
  /* header */
  @media screen and (max-width: 767px){
    .menu {
        font-size: 16px;
    }
  }
  @media screen and (max-width: 959px) {

    .menu a {
        margin: 0 4px;
    }
  }

  /* index */
  @media screen and (max-width: 959px) {

    .index_okr p{
        font-size:16px;
    }
  }
  @media screen and (max-width: 767px){
    .index_list {
        width:320px;
        margin:20px auto;
        padding:4px 8px;
    }
    .index_okr{
        margin:0;
    }

  }

  /* add */
  @media screen and (max-width: 959px) {
    .okr_document {
        display: none;
    }
    .add_wrap{
        margin:20px 0;
    }
    .add_infomation{
        margin:0 auto;

    }
    .parent_infomation{
        margin:0 auto;
    }
    .add_wrap input[type="text"]{
        border:solid 0px;
        border-bottom:solid 1px;
        width:400px;
        height:60px;
        font-size: 100%;
    }
  }
  @media screen and (max-width: 1100px) {
    .add_wrap{
        margin:20px 5%;
    }
    .okr_document{
        margin: 0 0 0 5%;
    }
  }
  .flash_massage{
      background-color: #ff9fbd;
      color:#ff0000;
      padding:8px 40px;
      margin:0 auto;
      text-align: center;
      font-size: 120%;
      font-weight: bold;
  }